.itemListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Link .finishBuying {
  background-color: var(--acent-color);
  border-radius: var(--radius-m);
} */