.navBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  background-color: cadetblue;
}

.navBar .categories {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navBar .category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 5px;
  background-color: cornflowerblue;
  font-size: 15px;
  border-radius: 10px;
}

.navBar .category p {
  margin: 10px;
}

.barberLogo {
  height: 20vmin;
  pointer-events: none;
}