.navBar {
  align-items: center;
  display: flex;
  justify-content: stretch;
  background-color: cadetblue;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.navBar .categoriesDiv {
  display: flex;
  flex-grow: 4;
  justify-content: center;
  align-content: center;
}

.navBar .categories {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

/* .navBar .category {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 3px 5px;
  padding: 3px;
  background-color: cornflowerblue;
  font-size: 15px;
  border-radius: 10px;
  width: 165px;
} */

.navBar .category {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2px 3px;
  padding: 0;
  background-color: cornflowerblue;
  font-size: 13px;
  border-radius: 10px;
  width: 165px;
}

.navLink:link {
  text-decoration: none;
}

.navLink:hover {
  color: yellow;
}
.navLink:active {
  color: red;
}

.navBar .category p {
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.barberLogo {
  height: 25vmin;
  pointer-events: none;
  padding: 10px;
}

.cartWidget {
  width: 100px;
  padding: 10px;
}

@media (min-width: 320px) {
  .navBar .category {
    font-size: 13px;
    margin: 2px 3px;
    padding: 0;
  }
}

@media (min-width: 576px) {
  .navBar .category {
    font-size: 13.5px;
    margin: 3px 5px;
    padding: 1px;
  }
}

@media (min-width: 768px) {
  .navBar .category {
    font-size: 14.5px;
    margin: 3px 5px;
    padding: 2px;
  }
}

@media (min-width: 992px) {
  .navBar .category {
    font-size: 15.5px;
    margin: 3px 5px;
    padding: 3px;
  }
}
