.itemCountContainer {
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;

}

.itemCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row;
}

.itemCount button {
  font-size: 15px;
  border-radius: 20%;
  background-color: cadetblue;
  margin: 10px 0;
  text-align: center;
}

.itemCountContainer button {
  border-radius: 3px;
  background-color: cadetblue;
  text-align: center;
}

